body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Lora;
}

.product-details {
    max-width: 600px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrer l'élément horizontalement */
    margin-bottom: 70px;
}


.commentaire{
    width: 90%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrer l'élément horizontalement */
    margin-bottom: 70px;

}

.product-details img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-details h1 {
    text-align: center;
    color: #444;
}

.product-details p {
    font-size: 1em;
    margin: 5px 0;
}

.product-details form {
    text-align: center;
    
}

.product-details button {
    background-color:  #8B4513;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.commentaire button {
    background-color:  #8B4513;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 5px;
}



.product-details button:hover {
    background-color: #218838;
}

.navbar-logo {
height: 80px; /* Ajustez cette valeur selon la taille de votre logo */
}

.product-details h3 {
    text-align: center;
    color: black ;
}
#comment {
    width: 100%; 
    border-radius: 10px;
}

#username {
    width: 100%; 
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #d1c7be;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

h4{
    text-shadow: 3px 3px 4px #d1c7be;
}