body {
    font-family: 'Lora', serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 15px;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 3px 4px #d1c7be;
}

h3 {
    font-size: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 40px;
}

.product {
    background-color: white;
    border-radius: 5px;
    margin: 15px 0;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.navbar-logo {
    height: 80px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    background-color: #f8f8f8 !important; 
    border: 1px solid;
    border-radius: 4px;
}

.ui-autocomplete .ui-menu-item {
    padding: 10px;
    cursor: pointer;
}

.ui-autocomplete .ui-menu-item:hover {
    background-color: white !important;
    color: white;
}

footer {
    margin-top: 10px;
    position: relative;
}

.product {
    position: relative;
    overflow: hidden;
}

.product:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
        align-items: stretch;
    }

    .input-group .form-control,
    .input-group .input-group-append {
        width: 100%;
    }

    .input-group .input-group-append {
        margin-top: 10px;
    }
}